:root {
    --context-color:  #f1f0e9;
    --background-color: #e3ddd1;
    --button-color: #a6884a;
    --alt-button-color: #5f7b53;
    --hover-button-color: gray;
    --border-color: black;
    
    --corner-radius: 12px;
    --border-width: 3px;
    --default-padding: 12px;
    --button-padding: 8px;

    --anim-time: 0.2s;
}

body {
    display: flex;
	flex-direction: column;

    margin: 0 auto;
    max-width: 650px;

    background-color: var(--background-color);
    background-repeat: repeat;
	background-attachment: fixed;
    background-image: url("/static/bg.svg");

    font-family: "Karla", sans-serif;
	font-size: 12pt;
    line-height:1.6;
}

h1,h2,h3 {
    line-height:1.2;
}

a, a:link, a:visited {
	color: var(--button-color);
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}
.special-text {
    color: var(--button-color);
}

table {
    width: 100%;
    height: 100%;
}
.shrink-td {
    width: 0px;
}

input, textarea, select {
    display: block;
    width: 85%;
    margin-left: var(--default-padding);
}
input[type=text], 
input[type=email], 
input[type=password], 
input[type=url],
input[type=date],
input[type=time],
input[type=number],
textarea, select {
    background-color: var(--background-color);
    height: 24px;

    transition-duration: var(--anim-time);

    border-radius: 8px;
    border-style: solid;
    border-color: var(--border-color);
    border-width: 0px;
}
input[type=text]:focus, 
input[type=email]:focus,
input[type=password]:focus, 
input[type=url]:focus,
input[type=date]:focus,
input[type=time]:focus,
input[type=number]:focus,
textarea:focus, select:focus {
    border-width: var(--border-width);
}

.site-header {
    padding: 24px;
    text-align: center;
}
.site-content {
    background-color: var(--context-color);

    flex: 1;
    margin: 32px;
    padding: var(--default-padding);
}

.dropdown-content {
    display: none;
    margin-top: var(--default-padding);

    background-color: var(--background-color);

    min-width: 160px;
    z-index: 1;
}
.dropdown-content a {
    display: block;
    padding: 12px 16px;

    color: black;
    text-decoration: none;
    transition-duration: var(--anim-time);
}
.dropdown-content a:hover {
    background-color: var(--hover-button-color);
    color: white;
}

.modal {
    display: none;

    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: rgba(0,0,0,0.5);
}
.modal-content {
    background-color: var(--context-color);

    padding: var(--default-padding);
    text-align: left;
    
    width: 500px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modal-actions {
    display: flex;
    flex-direction: row;
    gap: var(--default-padding);
}

.single-item-list {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}
.double-item-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-padding);
    justify-content: space-between;
}

.marca-logo, .marca-logo-grande {
    height: 64px; 
    width: 64px; 

    object-fit: scale-down;

    padding: 8px;
    vertical-align: middle;
    
    background-color: white;
}
.marca-logo-grande {
    height: 128px;
    width: 128px; 
}

.site-content, 
.dropdown-content, 
.modal-content, 
.button, .alt-button, .close-button, .edit-button, 
.marca-logo, .marca-logo-grande,
.campeonato-item, .time-item, .partida-item{
    border-color: var(--border-color);
    border-width: var(--border-width);
    border-radius: var(--corner-radius);
    border-style: solid;
}

.button, .alt-button, .close-button, .edit-button, .campeonato-item, .dashboard-button {
    text-decoration: none;
    cursor: pointer;
}

.button, .alt-button, .close-button img, .edit-button img, .campeonato-item, .dashboard-button {
    transition-duration: var(--anim-time);
}

.button, .alt-button, .campeonato-item, .time-item, .partida-item, .add-button {
    color: white;
}

.button, .alt-button {
    padding: var(--button-padding);

    background-color: var(--button-color);

    display: inline-flex;
    align-items: center;
}
.alt-button {
    background-color: var(--alt-button-color);
}
.button:hover, .alt-button:hover, .campeonato-item:hover, .dashboard-button:hover {
    background-color: var(--hover-button-color);
}

.close-button, .edit-button {
    float: right;

    padding: var(--button-padding);

    width: 42px;
    height: 42px;

    background-color: var(--background-color);

    font-size: 14pt;
    font-weight: bold;
}
 
.close-button img {
    filter: invert(65%) sepia(40%) saturate(2853%) hue-rotate(337deg) brightness(102%) contrast(97%);
}
.edit-button img {
    filter: invert(42%) sepia(13%) saturate(1357%) hue-rotate(73deg) brightness(110%) contrast(93%);
}
.close-button:hover img, .edit-button:hover img {
    filter: brightness(0%);
}

.campeonato-item, .time-item {
    height: 110px;
    padding: 4px;
    text-align: left;
}
.campeonato-item p, .time-item p {
    margin: 0px;
    margin-left: 6px;
}
.campeonato-item {
    width: 272px;
    background-color: var(--button-color);
}
.time-item {
    width: 258px;
    height: 92px;
    background-color: var(--hover-button-color);
}

.partida-item {
    height: 100px;
    width: 100%;

    padding: 4px 6px;

    background-color: var(--button-color);
}

.add-button {
    text-align: center;
    align-content: center;

    background-color: var(--alt-button-color);
}