{% from 'components/conta_modals.html.jinja' import login_modal, signin_modal, alterar_credenciais_modal, sair_conta_script, deletar_conta_script with context %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="/static/favicon.png" sizes="any">
    
    <title>{% block title %}{% endblock %} - CHAMPIGNON</title>
</head>
<body>
    <div class="site-content">
        <div class="site-header">
            <a href="/">
                <img height="128px" src="/static/icon.svg"/>
            </a>
            <br>
            <h1 style="margin-top: 0px;">CHAMPIGNON</h1>

            {% if usuario %}
            <button class="alt-button" style="background-color: gray;" id="user_dropdown_button">
                <img src="/static/user.svg"/>
                <span style="margin-left: 4px;">{{ usuario.nome }}</span>
            </button>
            <div class="dropdown-content" id="dropdown_usuario">
                <a href="#" onclick="open_alterar_credenciais_modal()">Alterar credenciais</a>
                <a href="#" id="sair_conta_button">Sair da conta</a>
                <a href="#" id="deletar_conta_button" style="color: red;">Deletar conta</a>
            </div>
            <script>
                document.getElementById("user_dropdown_button").onclick = function() {
                    var dropdown_usuario = document.getElementById("dropdown_usuario");
                    if (dropdown_usuario.style.display == "block") {
                        dropdown_usuario.style.display = "none";
                    } else {
                        dropdown_usuario.style.display = "block";
                    }
                }
            </script>
            {{ alterar_credenciais_modal() }}
            {{ sair_conta_script() }}
            {{ deletar_conta_script() }}

            {% else %}
            <button class="alt-button" onclick="open_login_modal()" >
                <img src="/static/user.svg"/>
                <span style="margin-left: 4px;">Entar</span>
            </button>  
            {{ login_modal() }}
            {{ signin_modal() }}

            {% endif %}
        </div>

        {% block content %}{% endblock %}
    </div>
</body>
</html>
