{% if campeonato.usuario_nome == usuario.nome %}

// PARTIDA MODAL
var modal_criar_partida = document.getElementById("criar_partida_modal");

document.getElementById("add_partida_modal_button").onclick = function() {
    modal_criar_partida.style.display = "block";
}

document.getElementById("close_add_partida_modal_button").onclick = function() {
    modal_criar_partida.style.display = "none";
}

document.getElementById("criar_partida_button").onclick = function() {
    var id_campeonato = '{{ campeonato.id_campeonato }}';
    var rodada = document.querySelector('#criar_partida_modal input[name="rodada"]').value;
    var data = document.querySelector('#criar_partida_modal input[name="data"]').value;
    var hora = document.querySelector('#criar_partida_modal input[name="hora"]').value;
    var time_a = document.querySelector('#criar_partida_modal select[name="time_a"]').value;
    var placar_time_a = document.querySelector('#criar_partida_modal input[name="placar_time_a"]').value;
    var time_b = document.querySelector('#criar_partida_modal select[name="time_b"]').value;
    var placar_time_b = document.querySelector('#criar_partida_modal input[name="placar_time_b"]').value;

    var formData = new FormData();
    formData.append('id_campeonato', id_campeonato);
    formData.append('rodada', rodada);
    formData.append('data_hora', data + ' ' + hora);
    formData.append('time_a', time_a);
    formData.append('placar_time_a', placar_time_a);
    formData.append('time_b', time_b);
    formData.append('placar_time_b', placar_time_b);

    fetch('/partida', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            location.reload();
        } else {
            alert(data.message);
        }
    })
    .catch(error => {
        alert('Erro de conexão: ' + error)
    });
}

{% if campeonato.usuario_nome == usuario.nome %}
{% for partida in partidas %}
document.getElementById("deletar_partida_button_{{ partida.id_partida }}").onclick = function() {
    if (!window.confirm("Tem certeza que quer deletar essa partida?\nEssa ação não tem volta.")) {
        return;
    }

    var formData = new FormData();
    formData.append('id_partida', {{ partida.id_partida }});

    fetch('/partida', {
        method: 'DELETE',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            location.reload();
        } else {
            alert(data.message);
        }
    })
    .catch(error => {
        alert('Erro de conexão: ' + error)
    });
}
{% endfor %}
{% endif %}

// TIME MODAL
var modal_criar_time = document.getElementById("criar_time_modal");

document.getElementById("add_time_modal_button").onclick = function() {
    modal_criar_time.style.display = "block";
}

document.getElementById("close_add_time_modal_button").onclick = function() {
    modal_criar_time.style.display = "none";
}

document.getElementById("criar_time_button").onclick = function() {
    var id_campeonato = '{{ campeonato.id_campeonato }}';
    var nome = document.querySelector('#criar_time_modal input[name="nome"]').value;
    var url_logo = document.querySelector('#criar_time_modal input[name="url_logo"]').value;

    var formData = new FormData();
    formData.append('id_campeonato', id_campeonato);
    formData.append('nome', nome);
    formData.append('url_logo', url_logo);

    fetch('/time', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            location.reload();
        } else {
            alert(data.message);
        }
    })
    .catch(error => {
        alert('Erro de conexão: ' + error)
    });
}

{% if campeonato.usuario_nome == usuario.nome %}
{% for time in times %}
document.getElementById("deletar_time_button_{{ time.id_time }}").onclick = function() {
    if (!window.confirm("Tem certeza que quer deletar esse time?.\nTodas as partidas que esse time participou serão deletadas juntas.\nEssa ação não tem volta.")) {
        return;
    }

    var formData = new FormData();
    formData.append('id_time', {{ time.id_time }});

    fetch('/time', {
        method: 'DELETE',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            location.reload();
        } else {
            alert(data.message);
        }
    })
    .catch(error => {
        alert('Erro de conexão: ' + error)
    });
}
{% endfor %}
{% endif %}

{% endif %}