{% extends "base.html.jinja" %}
{% block title %}{{ campeonato.nome }}{% endblock %}
{% block content %}
    <table style="margin-left: 12px; margin-right: 12px;">
        <tr>
            <td>
                <img class="campeonato-logo-grande" src="{{ campeonato.url_logo }}"/>
            </td>
            <td>
                <h2 style="margin: 12px;">{{ campeonato.nome }}</h2>
                <p style="margin: 12px;">{{ campeonato.descricao }}</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center; font-size: 10pt;">
                <span>Administrado por: <a href="mailto:{{ campeonato.usuario_email }}">{{ campeonato.usuario_nome }}</a></span>
                —
                <span>Início: <span class="special-text">{{ campeonato.data_inicio }}</span></span>
                —
                <span>Fim: <span class="special-text">{{ campeonato.data_fim }}</span></span>
            </td>
        </tr>
    </table>
    <h2>Partidas</h2>
    {% for partida in partidas %}
    <table class="partida-item">
        <tr>
            <td align="left">
                <img class="campeonato-logo" alt="{{ partida.time_a_nome }}" src="{{ partida.time_a_url_logo }}"/>
            </td>
            <td align="center">
                <div>
                    Rodada: {{ partida.rodada }}
                    —
                    {{ partida.data_hora }}
                    <br>
                    <h3 style="margin-top: 0px;">
                    {{ partida.time_a_placar }}
                    X
                    {{ partida.time_b_placar }}
                    </h3>
                </div>
            </td>
            <td align="right">
                <img class="campeonato-logo" alt="{{ partida.time_b_nome }}" src="{{ partida.time_b_url_logo }}"/>
            </td>
        </tr>
    </table>
    {% endfor %}
    {% if campeonato.usuario_nome == usuario.nome %}
    <button class="partida-item add-button dashboard-button" style="height: 100px; margin-top: 0px;" id="add_partida_modal_button">
        <p style="margin: 4px;"><b>Registrar nova partida.</b></p>
        <p style="margin: 4px;"><img src="/static/add.svg"/></p>
    </button>
    {% endif %}
    <h2>Times</h2>
    <div class="item-list" style="margin-bottom: -12px;">
        {% for time in times %}
        <div class="time-item">
        <table style="height: 100%;">
            <tr>
                <td>
                    <img class="campeonato-logo" src="{{ time.url_logo }}"/>
                </td>
                <td>
                    <p style="margin: 4px;"><b>{{ time.nome }}</b></p>
                    <p style="margin: 4px;">Pontuação: {{ time.pontuacao_total }}</p>
                </td>
            </tr>
        </table>
        </div>
        {% endfor %}
    </div>
    {% if campeonato.usuario_nome == usuario.nome %}
    <button class="partida-item add-button dashboard-button" style="height: 100px; margin-bottom: -12px;" id="add_time_modal_button">
        <p style="margin: 4px;"><b>Cadastrar novo time.</b></p>
        <p style="margin: 4px;"><img src="/static/add.svg"/></p>
    </button>
    {% endif %}
{% endblock %}
{% block modals %}
{% if campeonato.usuario_nome == usuario.nome %}
<div class="modal" id="criar_partida_modal">
    <div class="modal-content">
        <table>
            <tr>
                <td><h3>Registrar Nova Partida</h3></td>
                <td><button class="close-button" id="close_add_partida_modal_button"><b>&times;<b></button></td>
            </tr>
        </table>
        <form>
            // TODO
        </form>
        <br><br>
        <button class="button" id="criar_partida_button">Proceder</button>
    </div>
</div>
<div class="modal" id="criar_time_modal">
    <div class="modal-content">
        <table>
            <tr>
                <td><h3>Cadastrar Novo Time</h3></td>
                <td><button class="close-button" id="close_add_time_modal_button"><b>&times;<b></button></td>
            </tr>
        </table>
        <form>
            // TODO
        </form>
        <br><br>
        <button class="button" id="criar_time_button">Proceder</button>
    </div>
</div>
{% endif %}
{% endblock %}
{% block script %}
<script>
    {% if campeonato.usuario_nome == usuario.nome %}
    // PARTIDA MODAL

    var modal_criar_partida = document.getElementById("criar_partida_modal");

    var button_add_partida_modal = document.getElementById("add_partida_modal_button");
    button_add_partida_modal.onclick = function() {
        modal_criar_partida.style.display = "block";
    }

    var button_close_add_partida_modal = document.getElementById("close_add_partida_modal_button");
    button_close_add_partida_modal.onclick = function() {
        modal_criar_partida.style.display = "none";
    }

    var button_criar_partida = document.getElementById("criar_partida_button");
    button_criar_partida.onclick = function() {
        // TODO
    }

    // TIME MODAL

    var modal_criar_time = document.getElementById("criar_time_modal");

    var button_add_time_modal = document.getElementById("add_time_modal_button");
    button_add_time_modal.onclick = function() {
        modal_criar_time.style.display = "block";
    }

    var button_close_add_time_modal = document.getElementById("close_add_time_modal_button");
    button_close_add_time_modal.onclick = function() {
        modal_criar_time.style.display = "none";
    }

    var button_criar_time = document.getElementById("criar_time_button");
    button_criar_time.onclick = function() {
        // TODO
    }
    {% endif %}
</script>
{% endblock %}