{% extends "base.html.jinja" %}

{% from 'components/campeonato_modals.html.jinja' import deletar_campeonato_script, editar_campeonato_modal with context %}
{% from 'components/partida_modals.html.jinja' import criar_partida_modal, deletar_partidas_script, editar_partida_modal with context %}
{% from 'components/time_modals.html.jinja' import criar_time_modal, deletar_times_script, editar_time_modal with context %}

{% block title %}{{ campeonato.nome }}{% endblock %}

{% block content %}
<table style="margin-left: 12px; margin-right: 12px;">
    <tr>
        <td>
            <img class="marca-logo-grande" src="{{ campeonato.url_logo }}"/>
        </td>
        <td>
            <h2 style="margin: 12px;">
                {{ campeonato.nome }}
            </h2>
            {% if campeonato.usuario_nome == usuario.nome %}
            <div style="margin-left: 12px;">
                <button id="deletar_campeonato_button" class="close-button" style="float: none;"><img src="/static/delete.svg" /></button>
                {{ deletar_campeonato_script() }}
                <button onclick="open_editar_campeonato_modal()" class="edit-button" style="float: none;"><img src="/static/edit.svg" /></button>
                {{ editar_campeonato_modal() }}
            </div>
            {% endif %}
            <p style="margin: 12px;">
                {{ campeonato.descricao }}
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center; font-size: 10pt;">
            <span>{{ campeonato.esporte_nome }}</span>
            —
            <span>Administrado por: <a href="mailto:{{ campeonato.usuario_email }}">{{ campeonato.usuario_nome }}</a></span>
            —
            <span>Início: <span class="special-text">{{ campeonato.data_inicio }}</span></span>
            —
            <span>Fim: <span class="special-text">{{ campeonato.data_fim }}</span></span>
        </td>
    </tr>
</table>

<h2>Partidas</h2>

<div class="single-item-list">
    {% for partida in partidas %}
    <table class="partida-item">
        <tr>
            <td align="left" class="shrink-td">
                <img class="marca-logo" alt="{{ partida.time_a_nome }}" src="{{ partida.time_a_url_logo }}"/>
            </td>
            <td align="center">
                <div>
                    <p style="font-size: 10pt; margin-top: 2px;">
                        Rodada: <b>{{ partida.rodada }}</b>
                        —
                        {{ partida.data }} {{ partida.hora }}
                    </p>
                    <h3 style="margin-top: 0px; margin-bottom: 8px;">
                        {{ partida.time_a_placar if partida.time_a_placar is not none else '-' }}
                        X
                        {{ partida.time_b_placar if partida.time_b_placar is not none else '-' }}
                    </h3>
                    {% if campeonato.usuario_nome == usuario.nome %}
                    <div>
                        <button id="deletar_partida_button_{{ partida.id_partida }}" class="close-button" style="float: none;"><img src="/static/delete.svg" /></button>
                        <button onclick="open_editar_partida_modal_{{ partida.id_partida }}()" class="edit-button" style="float: none;"><img src="/static/edit.svg" /></button>
                    </div>
                    {% endif %}
                </div>
            </td>
            <td align="right" class="shrink-td">
                <img class="marca-logo" alt="{{ partida.time_b_nome }}" src="{{ partida.time_b_url_logo }}"/>
            </td>
        </tr>
    </table>
    {{ editar_partida_modal( partida.id_partida, partida.rodada, partida.data, partida.hora, partida.time_a_nome, partida.time_a_placar, partida.time_b_nome, partida.time_b_placar ) }}
    {% endfor %}
    {{ deletar_partidas_script() }}

    {% if not partidas %}
    <p style="text-align: center; width: 100%;">Vazio...</p>
    {% endif %}

    {% if campeonato.usuario_nome == usuario.nome %}
    <button class="partida-item add-button dashboard-button" style="height: 100px; margin-top: 0px;" onclick="open_criar_partida_modal()">
        <p style="margin: 4px;"><b>Registrar nova partida.</b></p>
        <p style="margin: 4px;"><img src="/static/add.svg"/></p>
    </button>
    {{ criar_partida_modal() }}
    {% endif %}
</div>

<h2>Times</h2>

<div class="double-item-list">
    {% for time in times %}
    <div class="time-item" {% if campeonato.usuario_nome == usuario.nome %} style="height: 104px;" {% endif %}>
    <table>
        <tr>
            <td class="shrink-td">
                <img class="marca-logo" src="{{ time.url_logo }}"/>
            </td>
            <td>
                <p><b>{{ time.nome }}</b></p>
                <p style="font-size: 10pt;">Pontuação: {{ time.pontuacao_total }}</p>
            </td>
            {% if campeonato.usuario_nome == usuario.nome %}
            <td align="right" class="shrink-td">
                <div class="single-item-list">
                    <button id="deletar_time_button_{{ time.id_time }}" class="close-button"><img src="/static/delete.svg" /></button>
                    <button onclick="open_editar_time_modal_{{ time.id_time }}()" class="edit-button"><img src="/static/edit.svg" /></button>
                </div>
            </td>
            {% endif %}
        </tr>
    </table>
    </div>
    {{ editar_time_modal( time.id_time, time.nome, time.url_logo ) }}
    {% endfor %}
    {{ deletar_times_script() }}
    
    {% if not times %}
    <p style="text-align: center; width: 100%;">Vazio...</p>
    {% endif %}

    {% if campeonato.usuario_nome == usuario.nome %}
    <button class="partida-item add-button dashboard-button" onclick="open_criar_time_modal()">
        <p><b>Cadastrar novo time.</b></p>
        <p><img src="/static/add.svg"/></p>
    </button>
    {{ criar_time_modal() }}
    {% endif %}
</div>
{% endblock %}