{% macro script_campeonato_buttons() %}
{% for campeonato in campeonatos %}
document.getElementById("{{ campeonato.id_campeonato }}").onclick = function() {

    {% if campeonato.id_usuario == usuario.id_usuario %}

    if (document.getElementById("deletar_campeonato_button_{{ campeonato.id_campeonato }}").matches(':hover')) {
        if (!window.confirm("Tem certeza que quer deletar seu campeonato?.\nEssa ação não tem volta.")) {
            return;
        }

        var formData = new FormData();
        formData.append('id_campeonato', {{ campeonato.id_campeonato }});

        fetch('/campeonato', {
            method: 'DELETE',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                location.reload();
            } else {
                alert(data.message);
            }
        })
        .catch(error => {
            alert('Erro de conexão: ' + error)
        });
        
        return;
    }

    {% endif %}

    window.location.replace("/campeonato?id={{ campeonato.id_campeonato }}");
}
{% endfor %}
{% endmacro %}

{% macro script_criar_campeonato_modal() %}
document.getElementById("criar_campeonato_button").onclick = function() {
    var nome = document.querySelector('#criar_campeonato_modal input[name="nome"]').value;
    var descricao = document.querySelector('#criar_campeonato_modal textarea[name="descricao"]').value;
    var url_logo = document.querySelector('#criar_campeonato_modal input[name="url_logo"]').value;
    var esporte = document.querySelector('#criar_campeonato_modal select[name="esporte"]').value;
    var data_inicio = document.querySelector('#criar_campeonato_modal input[name="data_inicio"]').value;
    var data_fim = document.querySelector('#criar_campeonato_modal input[name="data_fim"]').value;

    var formData = new FormData();
    formData.append('nome', nome);
    formData.append('descricao', descricao);
    formData.append('url_logo', url_logo);
    formData.append('esporte', esporte);
    formData.append('data_inicio', data_inicio);
    formData.append('data_fim', data_fim);

    fetch('/campeonato', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            location.reload();
        } else {
            alert(data.message);
        }
    })
    .catch(error => {
        alert('Erro de conexão: ' + error);
    });
}
{% endmacro %}