{% extends "base_headerless.html" %}
{% block title %}Início{% endblock %}
{% block content %}
    <div class="site-header">
        <a href="/"><img height="128px" src="/static/icon.svg"/></a>
        <br>
        <h1 style="margin: 0px;">CHAMPIGNON</h1>
        <p>Seu gestor publico de campeonatos!</p>
    </div>

    <h2>Campeonatos</h2>
    <div class="item-list">
        {%for campeonato in campeonatos %}
        <button class="campeonato-item">
            <table>
                <tr>
                    <td>
                        <img class="campeonato-logo" src="{{ campeonato.url_logo }}"/>
                    </td>
                    <td>
                        <p style="margin: 4px;"><b>{{ campeonato.nome }}</b></p>
                        <p style="margin: 4px; font-size: 10pt;">{{ campeonato.andamento }}</p>
                    </td>
                </tr>
            </table>
        </button>
        {% endfor %}
        <button class="campeonato-item campeonato-add">
            <p style="margin: 4px;"><b>Criar novo campeonato.</b></p>
            <p style="margin: 4px;"><img src="/static/add.svg"/></p>
        </button>
    </div>
{% endblock %}