{% extends "base.html.jinja" %}
{% from 'components/campeonato_modals.html.jinja' import criar_campeonato_modal with context %}

{% block title %}Início{% endblock %}

{% block content %}
<h2>Campeonatos</h2>

<div class="double-item-list">
    {% for campeonato in campeonatos %}
    <button class="campeonato-item" id="{{ campeonato.id_campeonato }}">
    <table>
        <tr>
            <td class="shrink-td">
                <img class="marca-logo" src="{{ campeonato.url_logo }}"/>
            </td>
            <td>
                <p><b>{{ campeonato.nome }}</b></p>
                <p style="font-size: 10pt;">{{ campeonato.andamento }}</p>
            </td>
        </tr>
    </table>
    </button>

    <script>
        document.getElementById("{{ campeonato.id_campeonato }}").onclick = function() {
            window.location.replace("/campeonato?id={{ campeonato.id_campeonato }}");
        }
    </script>
    {% endfor %}


    {% if usuario %}
    <button class="campeonato-item add-button" onclick="open_criar_campeonato_modal()">
        <p style="margin: 4px;"><b>Criar novo campeonato.</b></p>
        <p style="margin: 4px;"><img src="/static/add.svg"/></p>
    </button>

    {{ criar_campeonato_modal() }}
    {% endif %}
</div>
{% endblock %}