{% from 'components/core/modal.html.jinja' import modal %}

{% macro criar_campeonato_modal() %}
{% call modal(
    'criar_campeonato_modal', 'Criar Novo Campeonato'
) %}
    <form>
        <label for="nome">Nome Oficial:</label>
        <input type="text" id="nome" name="nome" maxlength="255" autofocus required>
        <label for="descricao">Descrição e Regras:</label>
        <textarea id="descricao" name="descricao" maxlength="500" style="height:70px;"></textarea>
        <label for="url_logo">Logo (URL):</label>
        <input type="url" id="url_logo" name="url_logo" maxlength="255">
        <label for="esporte">Esporte:</label>
        <select id="esporte" name="esporte">
            {% for esporte in esportes %}
            <option>{{ esporte.nome }}</option>
            {% endfor %}
        </select>
        <label for="data_inicio">Data de Iníco:</label>
        <input type="date" id="data_inicio" name="data_inicio" required>
        <label for="data_fim">Data de Fim:</label>
        <input type="date" id="data_fim" name="data_fim" required>
    </form>

    <br><br>
    <div class="modal-actions">
        <button class="button" id="criar_campeonato_button">Proceder</button>
    </div>

    <script>
        document.getElementById("criar_campeonato_button").onclick = function() {
        var nome = document.querySelector('#criar_campeonato_modal input[name="nome"]').value;
        var descricao = document.querySelector('#criar_campeonato_modal textarea[name="descricao"]').value;
        var url_logo = document.querySelector('#criar_campeonato_modal input[name="url_logo"]').value;
        var esporte = document.querySelector('#criar_campeonato_modal select[name="esporte"]').value;
        var data_inicio = document.querySelector('#criar_campeonato_modal input[name="data_inicio"]').value;
        var data_fim = document.querySelector('#criar_campeonato_modal input[name="data_fim"]').value;

        var formData = new FormData();
        formData.append('nome', nome);
        formData.append('descricao', descricao);
        formData.append('url_logo', url_logo);
        formData.append('esporte', esporte);
        formData.append('data_inicio', data_inicio);
        formData.append('data_fim', data_fim);

        fetch('/campeonato', {
            method: 'PUT',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                location.reload();
            } else {
                alert(data.message);
            }
        })
        .catch(error => {
            alert('Erro de conexão: ' + error);
        });
    }
    </script>
{% endcall %}
{% endmacro %}

{% macro deletar_campeonato_script() %}
<script>
document.getElementById("deletar_campeonato_button").onclick = function() {
    if (!window.confirm("Tem certeza que quer deletar seu campeonato?.\nEssa ação não tem volta.")) {
        return;
    }

    var formData = new FormData();
    formData.append('id_campeonato', {{ campeonato.id_campeonato }});

    fetch('/campeonato', {
        method: 'DELETE',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            location.replace("/");
        } else {
            alert(data.message);
        }
    })
    .catch(error => {
        alert('Erro de conexão: ' + error)
    });
    
    return;
}
</script>
{% endmacro %}

{% macro editar_campeonato_modal() %}
{% call modal(
    'editar_campeonato_modal', 'Editar Campeonato'
) %}
    <form>
        <label for="nome">Nome Oficial:</label>
        <input type="text" id="nome" name="nome" maxlength="255" autofocus required value="{{ campeonato.nome }}">
        <label for="descricao">Descrição e Regras:</label>
        <textarea id="descricao" name="descricao" maxlength="500" style="height:70px;">{{ campeonato.descricao }}</textarea>
        <label for="url_logo">Logo (URL):</label>
        <input type="url" id="url_logo" name="url_logo" maxlength="255" value="{{ campeonato.url_logo }}">
        <label for="esporte">Esporte:</label>
        <select id="esporte" name="esporte">
            <option>{{ campeonato.esporte_nome }}</option>
            {% for esporte in esportes %}
            {% if esporte.nome != campeonato.esporte_nome %}
            <option>{{ esporte.nome }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <label for="data_inicio">Data de Iníco:</label>
        <input type="date" id="data_inicio" name="data_inicio" required value="{{ campeonato.data_inicio }}">
        <label for="data_fim">Data de Fim:</label>
        <input type="date" id="data_fim" name="data_fim" required value="{{ campeonato.data_fim }}">
    </form>

    <br><br>
    <div class="modal-actions">
        <button class="button" id="editar_campeonato_button">Editar</button>
    </div>

    <script>
        document.getElementById("editar_campeonato_button").onclick = function() {
        var nome = document.querySelector('#editar_campeonato_modal input[name="nome"]').value;
        var descricao = document.querySelector('#editar_campeonato_modal textarea[name="descricao"]').value;
        var url_logo = document.querySelector('#editar_campeonato_modal input[name="url_logo"]').value;
        var esporte = document.querySelector('#editar_campeonato_modal select[name="esporte"]').value;
        var data_inicio = document.querySelector('#editar_campeonato_modal input[name="data_inicio"]').value;
        var data_fim = document.querySelector('#editar_campeonato_modal input[name="data_fim"]').value;

        var formData = new FormData();
        formData.append('id_campeonato', {{ campeonato.id_campeonato }});
        formData.append('nome', nome);
        formData.append('descricao', descricao);
        formData.append('url_logo', url_logo);
        formData.append('esporte', esporte);
        formData.append('data_inicio', data_inicio);
        formData.append('data_fim', data_fim);

        fetch('/campeonato', {
            method: 'PATCH',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                location.reload();
            } else {
                alert(data.message);
            }
        })
        .catch(error => {
            alert('Erro de conexão: ' + error);
        });
    }
    </script>
{% endcall %}
{% endmacro %}